<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front end</title>
</head>
<body>
    <form method="post">
        <input type="text" id="nome" name="nome">
        <input type="email" id="email" name="email">
        <input type="password" id="senha" name="senha">
        <input type="text" id="descricao" name="descricao">
        <input type="text" id="departamento" name="departamento">
        <input type="text" id="sala" name="sala">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>